table {
  width: 100%;
}

mat-row {
  align-items: flex-start;
}

mat-cell{
  display:flex;
  justify-content:center!important;
}

mat-header-cell {
  display:flex;
  justify-content:center;
}

th.mat-header-cell {
  border: none;
}

td.mat-cell {
  border: none;
}

mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-column-el-budget {
  //white-space: unset !important;
  //flex: 0 0 50% !important;
  width: 50%;
}

.mat-column-opsd {
  //white-space: unset !important;
  //flex: 0 0 50% !important;
  width: 45%;
}

.new-target-name {
  width: 100%;
}

.mat-column-slider {
  //white-space: unset !important;
  //flex: 0 0 50% !important;
  width: 5%;
  align-self: center;
  text-align: center;
}

.mat-cell .mat-column-slider {
  justify-content: center !important;
}

.radio-group{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.radio-button {
  margin: 5px;
}

.new-input-width {
  width: 100%;
  max-width: 500px;
}

::ng-deep .budget-class input.mat-input-element  {
  color: black;
}

.budget-class .mat-icon {
  color: rgba(0,0,0,.54);
}

.budget-class .mat-icon-button:hover .mat-icon {
  color: black;
}

