<mat-vertical-stepper [linear]="isLinear" #stepper xmlns:padding-left="http://www.w3.org/1999/xhtml">
  <mat-step [stepControl]="zeroFormGroup">
    <form [formGroup]="zeroFormGroup">
      <ng-template matStepLabel>Загрузите файл</ng-template>
      <div style="padding-bottom: 20px">
        <button mat-raised-button type="button" (click)="fileInput.click()">
          Выберите файл
          <input #fileInput type="file" style="display: none" accept=".xml" [multiple]="false" (change)="filesChanged($event)"/>
        </button>
        <span class="file-input-text" style="padding-left: 25px">{{ selectedFileText }}</span>
      </div>
      <div>
        <button
          mat-raised-button matStepperNext type="button" color = "primary" class="file-input-button" (click) = "startProcessFile()">
          Начать загрузку
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Сопоставление загружаемого результата и мероприятия из ИСУПа</ng-template>
      <div style="padding-bottom: 20px">
        <mat-radio-group class="radio-group" *ngIf="!workPackageIsMatched">
          <mat-radio-button class="radio-button" value="1" (change)="projectRadioChange($event)" [checked]="selectProjectVisible">Выбрать существующий проект</mat-radio-button>
          <mat-radio-button class="radio-button" value="2" (change)="projectRadioChange($event)">Создать новый проект</mat-radio-button>
        </mat-radio-group>
<!--        <app-project-select [selectedProject]="selectedProject" (outputSelectedProject)="getOutputProject($event)" #projectSelectComponent [hidden]="!selectProjectVisible"></app-project-select>-->
        <app-project-modal-selector [selectedProject]="selectedProject" (outputSelectedProject)="getOutputProject($event)" #projectModalSelectorComponent [hidden]="!selectProjectVisible"></app-project-modal-selector>
        <mat-form-field *ngIf="!selectProjectVisible" class="new-input-width">
          <mat-label>Название нового проекта</mat-label>
          <input matInput (change)="setNewProjectName($event.target)">
        </mat-form-field>
      </div>
      <div>
        <mat-radio-group class="radio-group"  *ngIf="workPackageMatRadioGroupVisible && !workPackageIsMatched">
          <mat-radio-button class="radio-button" value="1" (change)="workPackageRadioChange($event)" [checked]="selectWorkPackageVisible">Выбрать существующее мероприятие</mat-radio-button>
          <mat-radio-button class="radio-button" value="2" (change)="workPackageRadioChange($event)" [checked]="!selectWorkPackageVisible">Создать новое мероприятие</mat-radio-button>
        </mat-radio-group>
<!--        <app-work-package-select [selectedWorkPackage]="selectedWorkPackage" [hidden]="!selectWorkPackageVisible" #workPackageSelectComponent (outputSelectedWorkPackage)="getOutputWorkPackage($event)"></app-work-package-select>-->
        <app-work-package-modal-selector [selectedWorkPackage]="selectedWorkPackage" [hidden]="!selectWorkPackageVisible" #workPackageModalSelectorComponent (outputSelectedWorkPackage)="getOutputWorkPackage($event)"></app-work-package-modal-selector>
        <mat-form-field *ngIf="!selectWorkPackageVisible" class="new-input-width">
          <mat-label>Название результата</mat-label>
          <input matInput (change)="setNewWorkPackageName($event.target)">
        </mat-form-field>
      </div>
      <div>
        <app-organization-modal-selector [selectedOrganization]="selectedOrganization" #organizationModalSelectorComponent (outputselectedOrganization)="getOutputOrganization($event)"></app-organization-modal-selector>
      </div>
      <div style="padding-top: 20px">
        <button *ngIf="!workPackageIsMatched"
          mat-raised-button type="button" color = "primary" (click) = "selectOrCreateWorkPackage()">
          Продолжить
        </button>
      </div>
      <div style="padding-top: 20px; padding-left: 20px">
        <span>{{ workPackageResultText }}</span>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Загрузка финансового обеспечения</ng-template>
      <mat-spinner *ngIf="secondSpinnerVisible" [diameter]="30"></mat-spinner>
      <mat-form-field class="budget-class" appearance="fill" style="width: 500px" *ngIf="selectedCostObject">
        <mat-label>Бюджет</mat-label>
        <input matInput [value]="selectedCostObject.subject" disabled>
        <button mat-icon-button matSuffix (click)="openCostObject($event)">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </mat-form-field>
      <div style="padding-top: 20px; padding-left: 20px">
        <span>{{ financeResultText }}</span>
      </div>
    </form >
  </mat-step>
  <mat-step>
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Загрузка целевых показателей</ng-template>

      <table mat-table *ngIf="targetTableVisible" class="mat-elevation-z8" #targetMatchTable [dataSource] = targetMatches>
        <ng-container matColumnDef="el-budget">
          <th mat-header-cell *matHeaderCellDef>Электронный бюджет</th>
            <td mat-cell *matCellDef="let targetMatch">
              <app-purpose-criteria-view [purposeCriteria]="targetMatch.purposeCriteria"></app-purpose-criteria-view>
            </td>
        </ng-container>

        <ng-container matColumnDef="opsd">
          <th mat-header-cell *matHeaderCellDef>ИСУП</th>
          <td mat-cell *matCellDef="let targetMatch" [id]="targetMatch.purposeCriteria.purposeCriteriaMetaId">
            <app-target-modal-selector [selectedTarget]="targetMatch.target" [project]="targetMatch.project"
                                        (outputselectedTarget)="getOutputTarget($event, targetMatch)" target-select
                                        [hidden]="targetMatch.createNewTarget" #targetModalSelectorComponent
                                        [disabled]="targetMatch.disableTargetChoice"
                                        [hiddenLabel]="targetMatch.target"
                                        [excludedTargets]="chosenTargets"></app-target-modal-selector>
            <mat-form-field class="new-target-name"
                            *ngIf="targetMatch.createNewTarget"
                            appearance="standard">
              <mat-label>Название нового показателя</mat-label>
              <input #targetNameInput matInput (change)="changeTargetName(targetMatch, targetNameInput.value)">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="targetType">
          <th mat-header-cell *matHeaderCellDef>Тип показателя</th>
          <td mat-cell *matCellDef="let targetMatch">
            <app-enumeration-select
              [enumerationLabel]="enumerationLabel"
              [enumerations] = targetTypeList
              [selectedEnumeration]="targetMatch.target?.targetType"
              [disabled]="!targetMatch.createNewTarget"
              #enumerationSelectComponent></app-enumeration-select>
          </td>
        </ng-container>

        <ng-container matColumnDef="slider">
          <th mat-header-cell *matHeaderCellDef>Создать показатель</th>
          <td mat-cell *matCellDef="let targetMatch">
            <mat-slide-toggle (change)="changeToggle(targetMatch, $event)" [disabled]="targetMatch.disableTargetToggle"></mat-slide-toggle>
          </td>
        </ng-container>

        <ng-container matColumnDef="attached">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let targetMatch">
            <button mat-icon-button matSuffix (click)="breakBinding(targetMatch)">
              <mat-icon [color]="!targetMatch.attachedTarget ? 'primary' : 'accent'">
                {{!targetMatch.attachedTarget ? 'link_off' : 'insert_link'}}</mat-icon>
            </button>
          </td>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
      <mat-spinner *ngIf="thirdSpinnerVisible" [diameter]="30"></mat-spinner>
      <div style="padding-top: 20px">
        <button
          mat-raised-button *ngIf="processTargetBtnVisible" type="button" color = "primary" (click) = "continueProcessTarget()">
          Продолжить загрузку
        </button>
      </div>
      <div style="padding-top: 20px; padding-left: 20px">
        <span>{{ targetResultText }}</span>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
