<mat-form-field class="readonly-wrapper" appearance="fill" style="width: 100%">
  <mat-label>Выберите целевой показатель</mat-label>
  <input matInput readonly [(ngModel)]="selectedTarget?.name!">
  <button mat-icon-button matSuffix (click)="chooseTarget()" [disabled]="disabled">
    <mat-icon>more_horiz</mat-icon>
  </button>
  <button mat-icon-button matSuffix (click)="openTarget($event)">
    <mat-icon>open_in_new</mat-icon>
  </button>
  <button mat-icon-button matSuffix (click)="removeTarget($event)">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
