<mat-form-field class="readonly-wrapper" appearance="fill" style="width: 500px">
  <mat-label>Выберите проект</mat-label>
  <mat-select (infiniteScroll)="getNextBatch()" [complete]="totalPage === page" msInfiniteScroll
              [(ngModel)]="selectedProject" (ngModelChange) = "onChange($event)" [disabled]="disabled">
    <mat-option *ngFor="let option of options$ | async" [value]="option">{{option.name}}</mat-option>
  </mat-select>
  <button mat-icon-button matSuffix (click)="openProject($event)">
    <mat-icon>open_in_new</mat-icon>
  </button>
</mat-form-field>
