<!--<div class="example-element-detail"-->
<!--     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">-->
<!--  <div class="example-element-diagram">-->
<!--    <div class="example-element-position"> {{element.position}} </div>-->
<!--    <div class="example-element-symbol"> {{element.symbol}} </div>-->
<!--    <div class="example-element-name"> {{element.name}} </div>-->
<!--    <div class="example-element-weight"> {{element.weight}} </div>-->
<!--  </div>-->
<!--  <div class="example-element-description">-->
<!--    {{element.description}}-->
<!--    <span class="example-element-description-attribution"> &#45;&#45; Wikipedia </span>-->
<!--  </div>-->
<!--</div>-->
